<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="home.ferh.tictactoe.app">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
        android:icon="@drawable/ic_launcher">
        <activity android:name="TitleActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
                <action android:name="Title"></action>

                <category android:name="android.intent.category.LAUNCHER"></category>
            </intent-filter>

        </activity>
        <activity android:name="SettingsActivity">
            <intent-filter>
                <action android:name="settings"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
            </intent-filter>
        </activity>

        <activity android:name="GameActivity">
            <intent-filter>
                <action android:name="game"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
            </intent-filter>
        </activity>

    </application>

</manifest>
